<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>759286941239-lfjjbchea8dgp1aopnihasv0pe80ig8u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.759286941239-lfjjbchea8dgp1aopnihasv0pe80ig8u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>759286941239-lren7vh84d7eb47t4dgj0ravo7sjb3ev.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBjUfpGnwVU-vdUMQwZ7FUDDMY6BKfxs84</string>
	<key>GCM_SENDER_ID</key>
	<string>759286941239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.calendarScheduler</string>
	<key>PROJECT_ID</key>
	<string>calendar-scheduler-425310</string>
	<key>STORAGE_BUCKET</key>
	<string>calendar-scheduler-425310.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:759286941239:ios:96866b335499e030f9a1b2</string>
</dict>
</plist>